body {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin-block: 0 1rem;
}
